body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.content {
  max-width: 1100px;
  margin: 0 auto;
}

.module-background-1 {
  /* background by Carlos Aguilar */
  background-image: url("../img/module-background-1.png");
}

.module {
  padding: 20px 0;
  overflow: auto;
  min-height: 300px;
  background-color: #DDDDDD;
}

.about-me-headline {
  color: white;
  min-width: 300px;
  margin: 30px 0 0 30px;
  text-align: center;
}

.about-me-headline h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.about-me-description {
  font-size: 20px;
  margin-bottom: 10px;
}

.social-icons a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a i {
  font-size: 24px;
}

.avatar-container {
  padding: 5px;
  width: 300px;
  border-radius:155px;
  background-color: white;
  margin: 0 auto;
}

.avatar-300 {
  max-width: 300px;
  border-radius: 150px;
  vertical-align: middle;
}

.card {
  width: 300px;
  height: 200px;
  border: 1px solid black;
}

.pull-left {
  float: left;
}
